.intro {
  min-height: 760px;
  margin-bottom: 120px;
  background-color: $color-black-pearl-grey;
  background-image:
    linear-gradient(180deg, transparentize($color-black-pearl-grey, 0.3) 71.72%, transparentize($color-black-pearl-grey, 1) 100%),
    url("../img/content/intro-desktop.jpg");
  background-size: cover;

  @include retina {
    background-image:
      linear-gradient(180deg, transparentize($color-black-pearl-grey, 0.3) 71.72%, transparentize($color-black-pearl-grey, 1) 100%),
      url("../img/content/intro-desktop@2x.jpg");
  }

  @include vp-1023 {
    min-height: 555px;
    margin-bottom: 80px;

    background-image:
      linear-gradient(180deg, transparentize($color-black-pearl-grey, 0.3) 71.72%, transparentize($color-black-pearl-grey, 1) 100%),
      url("../img/content/intro-tablet.jpg");
      background-position: 0 0, 0 -85px;

    @include retina {
      background-image:
        linear-gradient(180deg, transparentize($color-black-pearl-grey, 0.3) 71.72%, transparentize($color-black-pearl-grey, 1) 100%),
        url("../img/content/intro-tablet@2x.jpg");
    }
  }

  .container {
    display: flex;
    flex-direction: column;
  }
}

.intro__title {
  margin: 184px 0 30px 125px;
  padding: 0;

  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: $color-default-white;
  font: 700 80px/120% $ff-roboto-condensed;

  @include vp-1023 {
    font: 700 64px/120% $ff-roboto-condensed;
    margin: 95px 0 0;

  }
}

.intro__description {
  margin: 0 0 47px 125px;
  padding: 0;

  color: $color-default-white;
  font: 400 22px/155% $ff-pt-mono;

  @include vp-1023 {
    margin: 0 0 56px;
  }
}

.intro__button {
  margin: 0 0 40px 125px;
  align-self: flex-start;

  padding: 15px 27px 19px;
  font: 700 18px/120% $ff-roboto-condensed;
  letter-spacing: 0.05em;

  @include vp-1023 {
    margin: 0 0 40px 45px;
  }
}
