.page-header {
  position: sticky;
  top: 0;
  z-index: 100;
  min-height: 120px;
  display: flex;
  align-items: center;

  background-color: $color-black-pearl;
  box-shadow: 0 0 15px 15px $color-black-pearl;

  @include vp-1023 {
    position: static;
    min-height: 85px;
  }

  @include vp-767 {
    min-height: 60px;
    box-shadow: 0 0 6px 6px $color-black-pearl;
  }

  .container {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include vp-1023 {
      justify-content: flex-start;
    }
  }
}

.page-header__logo {
  flex-shrink: 0;

  position: relative;
  top: -8px;
  margin-right: 52px;

  @include vp-1023 {
    position: static;
    top: 0;
  }

  @include vp-767 {
   position: relative;
   top: -3px;
  }

  img {
    width: 215px;
    height: 55px;

    @include vp-767 {
      width: 35px;
      height: 35px;
    }
  }
}

.page-header__links {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @include vp-1023 {
    margin-left: auto;
    margin-right: 30px;
    justify-content: flex-end;
  }

  @include vp-767 {
    margin-right: 20px;
  }
}
.page-header__email {
  display: flex;
  margin-top: 7px;
  margin-right: 10px;

  color: $color-default-white;
  font: 400 16px/120% $ff-pt-mono;

  svg {
    margin-right: 14px;
  }

  @include vp-1023 {
    margin-top: 10px;
    margin-right: 0;
    margin-left: 40px;

    span {
      display: none;
    }

    svg {
      margin-right: 0;
    }
  }

  @include vp-767 {
    margin-top: 0;
  }
}

.page-header__tel {
  display: flex;
  margin-top: 7px;
  margin-right: 25px;

  color: $color-default-white;
  font: 400 16px/120% $ff-pt-mono;

  svg {
    margin-right: 14px;
  }

  @include vp-1023 {
    margin: 10px 0 0 40px;

    span {
      display: none;
    }

    svg {
      margin-right: 0;
    }
  }

  @include vp-767 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 40px;
  }
}

.page-header__email,
.page-header__tel {
  outline: none;
  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      span {
        color: $color-default-white;
        text-decoration: underline;
      }
    }
  }
}

.page-header__callback {
  flex-shrink: 0;

  margin-right: 61px;
  margin-left: 29px;
  padding: 9px 16px 13px;
  position: relative;
  top: -3px;
  letter-spacing: 0.05em;

  @include vp-1023 {
    display: none;
  }
}
