.page-header {
  position: sticky;
  top: 0;
  z-index: 100;
  min-height: 120px;
  display: flex;
  align-items: center;

  background-color: $color-black-pearl;
  box-shadow: 0 0 15px 15px $color-black-pearl;

  @include vp-1023 {
    min-height: 85px;
  }

  @include vp-767 {
    min-height: 60px;
    box-shadow: 0 0 6px 6px $color-black-pearl;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;

    @include vp-1023 {
      justify-content: flex-start;
    }
  }
}

.page-header__logo {
  @include vp-1023 {
    margin-top: 10px;
  }

  @include vp-767 {
    margin-top: 5px;
  }
}

.page-header__email {
  display: flex;
  margin-top: 11px;
  position: relative;
  left: 18px;

  color: $color-default-white;
  font: 400 16px/120% $ff-pt-mono;

  svg {
    margin-right: 14px;
  }

  @include vp-1023 {
    margin-top: 20px;
    margin-left: auto;

    span {
      display: none;
    }

    svg {
      margin-right: 0;
    }
  }

  @include vp-767 {
    margin-top: 10px;
  }
}

.page-header__tel {
  display: flex;
  margin-top: 11px;
  position: relative;
  left: -12px;

  color: $color-default-white;
  font: 400 16px/120% $ff-pt-mono;

  svg {
    margin-right: 14px;
  }

  @include vp-1023 {
    margin: 20px 18px 0 70px;

    span {
      display: none;
    }

    svg {
      margin-right: 0;
    }
  }

  @include vp-767 {
    margin-top: 10px;
    margin-right: 8px;
  }
}

.page-header__callback {
  margin-right: 60px;
  padding: 9px 16px 13px;
  position: relative;
  top: 2px;
  letter-spacing: 0.05em;

  @include vp-1023 {
    display: none;
  }
}
