.services {
  padding: 70px 0 140px;

  background-color: $color-black-pearl;

  @include vp-1023 {
    padding: 59px 0 75px;
  }

  @include vp-767 {
    padding: 59px 0 86px;
  }
}

.services__title {
  margin: -3px 0 54px;
  padding: 0;

  font: 400 36px/140.6% $ff-roboto-condensed;
  color: $color-default-white;

  @include vp-1023 {
    margin: -3px 0 39px;
  }

  @include vp-767 {
    font-size: 28px;
    margin: -12px 0 29px;
  }
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 85px;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.services__item {
  $color-black-pearl-50: transparentize($color-black-pearl, 0.5);

  position: relative;
  display: block;
  min-height: 650px;
  padding: 47px 40px;
  color: $color-default-white;
  background-image:
    linear-gradient($color-black-pearl-50, $color-black-pearl-50),
    url("../img/content/services-background.jpg");
  // background-size: cover;
  background-repeat: no-repeat;
  background-size: 1494px 818px;
  background-position: 0 0;

  outline: none;

  transition: background-image $trans-default;

  font: 400 20px/30px $ff-roboto-condensed;

  @include retina {
    background-image:
      linear-gradient($color-black-pearl-50, $color-black-pearl-50),
      url("../img/content/services-background@2x.jpg");
  }

  @include vp-1023 {
    min-height: 250px;
    padding: 37px 45px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include vp-767 {
    padding: 26px 29px;
    font-size: 18px;
  }

  &:nth-of-type(1) {
    background-position: 0 0, -188px -116px;

    @include vp-1023 {
      background-position: 0 0, -242px -550px;
    }

    @include vp-767 {
      background-position: 0 0, -376px -299px;
    }
  }

  &:nth-of-type(2) {
    background-position: 0 0, -536px -121px;

    br:nth-of-type(1) {
      display: none;
    }

    @include vp-1023 {
      background-position: 0 0, -628px -315px;

      br:nth-of-type(1) {
        display: block;
      }

      br:nth-of-type(2) {
        display: none;
      }
    }

    @include vp-767 {
      background-position: 0 0, -366px -538px;
    }
  }

  &:nth-of-type(3) {
    background-position: 0 0, -894px -110px;

    @include vp-1023 {
      background-position: 0 0, -148px -359px;
    }

    @include vp-767 {
      background-position: 0 0, -884px -395px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-top-left-radius: 3px;
    background-color: $color-deep-sky-blue;
    background-image: url("../img/svg/icon-arrowright.svg");
    background-repeat: no-repeat;
    background-position: center center;

    @include vp-767 {
      width: 40px;
      height: 40px;
    }

  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      background-image:
        linear-gradient(180deg, $color-black-pearl 20%, $color-black-pearl-50),
        url("../img/content/services-background.jpg");

      @include vp-1023 {
        background-image:
        linear-gradient(180deg, $color-black-pearl 50px, $color-black-pearl-50),
        url("../img/content/services-background.jpg");
      }

      @include vp-767 {
        background-image:
        linear-gradient(180deg, $color-black-pearl, $color-black-pearl-50),
        url("../img/content/services-background.jpg");
      }

      &::after {
        background-color: $color-alice-blue;
        background-image: url("../img/svg/icon-arrowright-dark.svg");
      }
    }
  }
}
