.socials {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 30px);
  gap: 25px;
}

.socials__item {
  width: 30px;
  height: 30px;
}

.socials__link {
  outline: none;

  svg {
    fill: $color-default-white;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover svg,
    &:focus svg {
      fill: $color-deep-sky-blue;
    }
  }
}
